:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei',
    'Source Han Sans CN', sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1820px;
  height: 1415px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 1437px;
  height: 65px;
  margin: 40px 0 0 277px;
  z-index: 5;
}
.log-in-start {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 42px;
  position: absolute;
  width: 320px;
  height: 65px;
  top: 0;
  left: 1117px;
  z-index: 5;
}
.log-in {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 55px;
  color: #6f6a6a;
  font-family: Friska, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.32px;
  text-decoration: none;
  z-index: 6;
}
.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 210px;
  height: 65px;
  background: #4f46e5;
  text-decoration: none;
  z-index: 7;
  border-radius: 15px;
}
.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 210px;
  height: 65px;
  background: #4f46e5;
  border-radius: 15px;
  flex-basis: auto;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 1.44px;
  z-index: 8;
}
.code-genius {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 55px;
  top: 5px;
  left: 0;
  color: #4f46e5;
  font-family: Friska, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.8px;
  z-index: 1;
}
.menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 45px;
  position: absolute;
  width: 460px;
  height: 55px;
  top: 5px;
  left: 310px;
  z-index: 2;
}
.contribute-problem {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 55px;
  color: #6f6a6a;
  text-decoration: none;
  font-family: Friska, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.32px;
  z-index: 3;
}
.solve-problems {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 55px;
  text-decoration: none;
  color: #6f6a6a;
  font-family: Friska, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.32px;
  z-index: 4;
}
.code-problem-generator {
  display: block;
  position: relative;
  height: 55px;
  margin: 205px 0 0 472px;
  color: #000000;
  font-family: Friska, var(--default-font-family);
  font-size: 85px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.generate-coding-problems {
  display: block;
  position: relative;
  height: 55px;
  margin: 30px 0 0 501px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 23px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.38px;
  z-index: 13;
}
.start-button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 210px;
  height: 65px;
  margin: 50px 0 0 855px;
  background: #4f46e5;
  z-index: 10;
  border-radius: 15px;
}
.frame {
  position: relative;
  width: 1920px;
  height: 710px;
  margin: 140px 0 0 0;
  font-size: 0px;
  background: #4f46e5;
  z-index: 14;
  overflow: hidden;
}
.enhance-coding-skills {
  display: block;
  position: relative;
  height: 23px;
  margin: 62px 0 0 841px;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.improve-coding-abilities {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 918px;
  height: 110px;
  margin: 17px 0 0 501px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  z-index: 16;
}
.flex-row-cb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1538px;
  height: 55px;
  margin: 112px 0 0 180px;
  z-index: 20;
}
.fill-in-gaps {
  flex-shrink: 0;
  position: relative;
  height: 55px;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.remove-noises {
  flex-shrink: 0;
  display: flex;
  text-align: left;
  position: relative;
  height: 55px;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  white-space: nowrap;
  z-index: 20;
}
.flex-row-3 {
  position: relative;
  width: 1538px;
  height: 110px;
  margin: 0 0 0 180px;
  z-index: 21;
}
.practice-missing-code {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 55px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.practice-identifying-removing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 574px;
  height: 110px;
  top: 0;
  left: 964px;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  z-index: 21;
}
.flex-row-fb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1538px;
  height: 83px;
  margin: 63px 0 0 180px;
  z-index: 22;
}
.try-now {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  text-decoration: none;
  position: relative;
  width: 574px;
  height: 83px;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 28px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  z-index: 19;
}
.try-now-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 574px;
  height: 83px;
  text-decoration: none;
  color: #ffffff;
  font-family: Friska, var(--default-font-family);
  font-size: 28px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  z-index: 22;
}
